src/main/app/mule-config.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml"
      xmlns:jersey="http://www.mulesoft.org/schema/mule/jersey"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/3.1/mule-http.xsd
                          http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/3.1/mule-xml.xsd
                          http://www.mulesoft.org/schema/mule/jersey http://www.mulesoft.org/schema/mule/jersey/3.1/mule-jersey.xsd
                          http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/3.1/mule.xsd ">

    <mulexml:xslt-transformer name="bankRate"
                              xsl-file="bankrate.xsl"
                              outputEncoding="UTF-8" ignoreBadInput="false" encoding="UTF-8" maxIdleTransformers="2"
                              maxActiveTransformers="3">
        <mulexml:xslt-text/>
    </mulexml:xslt-transformer>

    <flow name="REST_XSLT_example_Flow">
        <http:inbound-endpoint host="localhost" port="48310" contentType="text/html" keep-alive="false"
                               responseTimeout="10000" encoding="UTF-8" disableTransportTransformer="false"
                               exchange-pattern="request-response">
            <not-filter>
                <wildcard-filter pattern="/favicon.ico"/>
            </not-filter>
        </http:inbound-endpoint>
        <jersey:resources>
            <component class="com.mulesoft.example.muleexamplexslt.CalculatorImpl"/>
        </jersey:resources>

        <logger level="INFO" message="Header Content-Type = #[header:Content-Type]"/>
        <choice>
            <when expression="Content-Type=application/xml" evaluator="header">
                <logger level="INFO" message="Apply XSLT Transformer"/>
                <transformer ref="bankRate"/>
            </when>
            <when expression="Content-Type=text/xml" evaluator="header">
                <logger level="INFO" message="Continue Processing"/>
            </when>
            <otherwise>
                <logger level="INFO" message="Continue Processing"/>
            </otherwise>
        </choice>

    </flow>
</mule>
